/* ABOUT PAGE */

.about-container{
    display: flex;
    font-family: now-bold;
    flex-direction: column;
}

.about-header{
    font-family: now-bold;
    font-size: 25px;
    text-align: left;
}

.about-me{
    margin: 20px;
    font-size: 17.5px !important;
    font-family: now-bold;
    font-style: normal;
}

.about-skills-header{
    font-family: now-bold;
    font-size: 25px;
    text-align: left;
    padding-top: 20px;
}
.skills-languages{
    
    font-size: 17.5px !important;
    font-family: now-bold;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}

/* PROJECTS PAGE */
.projects-container{
    font-family: now-bold;
    display: flex;
    flex-direction: column;
}

.projects-header{
    margin-top: 10px;
    font-size: 25px;
}

.projects-subheader{
    font-size: 21.5px;
}

/* Project 1*/
.projects-1-container{
    display: flex;
    flex-direction: row;
    height: 350px;
    width: 100%;
}
.projects-description{
    margin-top: 10px;
    margin-left: 12.5px;
    font-size: 17.5px;
    position: relative;
    width: 50%;
    flex-direction: end;
    text-align: right;
}
.projects-1{
    margin-top: 12.5px;
    position: relative;
    width: 50%;
    height: 350px;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #DBCFC7;
}

/*#FFDBCFC7*/

.projects-1:hover .overlay{
    opacity: .9;
}

.projects-1-image{
    position: absolute;
    width: 100%;
    height: 100%;
}

.overlay-text{
    position: relative;
    color: white;
    font-size: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

