.about-container{
    display: grid;
    text-align: center;
    grid-template-areas: "title about";
    grid-template-columns: 100vw 300px;
    grid-template-rows: 60px 500px;
}

.about-title{
    grid-area: title;
    font-family: circularstd;
    font-size: 40px;
}

.about-me{
    grid-area: about;
    font-family: circularstd;  
    font-size: 20px !important;
    padding: 20px;
}