@font-face{
    src: url(./fonts/CircularStd-Medium.otf);
    font-family: circularstd;
}

/* TITLE-Container*/
.title-container{
    display: grid;
    justify-items: left;
    grid-gap: 7.5px;
}

.name{
    font-family: circularstd;
    font-size: 25px;
    line-height: 20px;
}

.title{
    font-family: circularstd;
    font-size: 25px;
    line-height: 20px;
    
}

.goal{
    font-family: circularstd;
    font-size: 25px;
    line-height: 20px;
    color: orange;
}

/* Navbar-Container*/
.navbar-container{
    font-family: circularstd;
    display: flex;
    flex-direction: column;
    justify-items: left;
    column-gap: 7.5px;
}
.navButton{
    padding: 6px;
    line-height: 20px;
    background-color: transparent;
    font-size: 25px;
    font-family: circularstd;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.navButton:after 
{
    content: '';
    display: block;
    height: 3px;
    width: 0;
    transition: .5s;
    margin: auto; 
}
 
/* Change the width and background on hover, aka sliding from the middle to the left and right */
.navButton:hover:after 
{
    width: 100%;
    background: orange;
}

.nav-active{
    transition: 1s;
    transform: translateX(25px);
} 